* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
}

h2{
    text-align: center;
    margin-bottom: 1rem;
    font-family: sans-serif;
    animation: Color 4s linear infinite;
    -webkit-animation: Color 2s ease-in-out infinite;
    text-shadow: 1px 1px #4d4d4d;
}

input{
	outline: none;
	border: none;
    width: 12rem;
    margin-right: 1rem;
}

#box{
    margin-top: 5rem !important;
    margin-bottom: 5rem !important;
    width: 30rem;
    height: 100%;
    margin: 0px auto;
    border-radius: 3px;
    background: #a54bf454;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}
table{
    margin: 0px auto;
}

button{
    background-color: rgba(255, 255, 255, 0.342);
}

.delete{
    color: red;
    border: 1px solid black;
    width: 1rem;
    height: 1.5rem;
    margin-left: 10px;
    text-align: center;
    margin-bottom: 1rem;
    margin-top: 1rem;
} 

.add{
    height: 2rem;
    width: 10rem;
    margin-bottom: 1rem;
}

.add:hover{
    height: 2.3rem;
    width: 11rem;
    background-color: #00cf3e8f;
    color: white;
}

#result{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.delete:hover{
    color: black;
    background-color: red;
}

select {
    width: 100%;
    border: 1px solid var(--select-border);
    border-radius: 0.25em;
    padding: 0.25em 0.5em;
    font-size: 1rem;
    cursor: pointer;
    line-height: 1.1;
    background-color: rgba(255, 255, 255, 0.342);
    background-image: linear-gradient(to top, #919191b7, rgba(255, 255, 255, 0.733) 33%);
}
